<div class="card mb-3">
  <img class="card-img-top" src="{{news.newsPicture}}" alt="Card image cap">
  <div class="card-block">
    <h3 class="card-title">{{news.header}}</h3>
    <h5 class="card-text">{{news.subHeader}}</h5>
    <p class="card-text">{{news.newsText}}</p>
    <p class="card-text">Автор: {{news.displayName}}</p>
    <button *ngIf="isMine" type="button" class="btn btn-danger" (click)="onDeleteClick()">Изтриване</button>
    <a *ngIf="isMine" [routerLink]="['/news/edit/'+id]" class="btn btn-secondary">Промени</a>
    <p class="card-text"><small class="text-muted">Дата: {{news.postTime}}</small></p>
    
  </div>
</div>