<div class="row">
  <div class="col-md-6">
    <a routerLink="/tips/all" href="#" class="btn btn-link"><i class="fa fa-arrow-circle-o-left"></i> Върни се в прогнози</a>
  </div>
  <div class="col-md-6">
    
  </div>
</div>

<div class="card">
  <div class="card-header">
    Добави прогноза
  </div>
  <div class="card-block">
    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label for="header">Заглавие</label>
        <input 
          type="text"
          class="form-control"
          [(ngModel)]="tip.header"
          name="header"
          #header="ngModel"
          minlength="2"
          required
        >
        <div *ngIf="header.errors?.required && header.touched" class="alert alert-danger">
          Заглавието е задължително!
        </div>
        <div *ngIf="header.errors?.minlength && header.touched" class="alert alert-danger">
          Заглавието трябва да бъде минимум 2 символа!
        </div>
      </div>

      <input type="submit" class="btn btn-primary btn-block" value="Submit">
    </form>
  </div>
</div>